includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:

    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: 9

    treatPhpDocTypesAsCertain: false
